body {
	height: calc(100vh - 2px);
    margin: 0;
    padding: 0;
    position: relative;
    border-top: 1px solid transparent;
    font-family: arial;
}

p {
	margin: 0;
	padding: 0;
}

*::selection{
	color: rgb(255, 255, 255);
    background: rgb(156, 39, 176);
}

a {
	text-decoration: none;
	color: #000;
}

.nav-wrapper {
	height: 90%;
    width: 90%;
    margin: 5vh 0 0 5%;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    position: relative;
}

.hdr {
	position: absolute;
    top: 2%;
    left: 5%;
    height: 44px;
    text-align: center;
    width: 250px;
    letter-spacing: -1px;
    font-weight: 600;
}

.marker {
	height: 10px;
	width: 10px;
	border-radius: 100%;
	background: #1f1d1d;
	position: absolute;
	left : -5px;
}

.view-marker {
	top: calc(15% - 5px);
}

.add-marker {
	top: calc(25% - 5px);
}

.search-marker {
	top: calc(35% - 5px);
}

.res-marker {
	left: calc(100% - 142.5px);
    top: calc(100% - 5px);
}

.topics-marker {
	left: calc(100% - 412.5px);
    top: calc(100% - 5px);
}

.res-endpoint, .topics-endpoint, .add, .view, .search {
	position: absolute;
    left: 5%;    
}

.btn {
    height: 44px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: transparent;
    letter-spacing: -0.3px;
    font-size: 15px;
}

.btn:hover {
	cursor: pointer;
	background: #eee;
    transition: background 0.5s ease-in-out;
}

.btn:focus {
	outline: none;
	box-shadow: inset 0 0 3px #000;
}

.view {
	top: calc(15% - 22px);
}

.add {
	top: calc(25% - 22px);
}

.search {
	top: calc(35% - 22px);
}

.res-endpoint {
    top: calc(100% - 64px);
    left: calc(100% - 270px);
}

.topics-endpoint {
	top: calc(100% - 64px);
    left: calc(100% - 540px);
}

.popup-wrapper {
	display: none;
	position: absolute;
    top: -1px;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(68, 68, 68, 0.2);
}

.popup-parent {
	position: relative;
    height: 100%;
    width: 100%;
}

.popup {
	position: absolute;
    height: 80%;
    width: 55%;
    background: #eee;
    box-shadow: 0 0 5px #888;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    letter-spacing: -0.3px;
    font-size: 15px;
}

.popup-x {
	position: absolute;
    right: 10px;
    top: 10px;
    height: 30px;
    width: 30px;
    line-height: 29px;
    text-align: center;
    background: #ccc;
    box-shadow: inset 0 0 3px #000;
    border-radius: 50%;
    font-family: calibri;
}

.popup-x p::selection {
    background: none;
    color: #000;
}

.popup-x:hover {
	cursor: pointer;
	color: #d20606;
	box-shadow: inset 0 0 3px #d20606;
	transition: box-shadow 0.5s ease-in-out;
}

.content-wrapper {
	position: relative;
    height: calc(100% - 65px);
    width: 94%;
    margin: 45px 0 0 calc(3% - 1px);
}

.i,.ii,.iii {
	display: none;
	position: absolute;
	height: 100%;
	width: 90%;
	left: 5%;
}

.ii {
	overflow: auto;	
}

.popup-hdr {
	height: 44px;
	line-height: 44px;
	text-align: center;
}

.service-response {
	display:none;
	position: absolute;
    top: -1px;
    height: 80px;
    background: rgba(23, 193, 23, 0.5);
    width: 100%;
    z-index: 1;
}

.service-response p {
	height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
	font-family: arial;
    position: absolute;
    z-index: 2;
    right: 20px;
    top: 18px;
    border-radius: 3px;
    color: #1f1d1d;
}

.service-response p:hover {
	cursor: pointer;
	box-shadow: 0 0 2px #444;
}

.service-response div {
	position: absolute;
	width: 100%;
	line-height: 80px;
    text-align: center;
    color: #444;
    font-family: Calibri;
    font-size: 20px;
    letter-spacing: -1px;
}

.new form, .results form {
	border: 1px solid #ccc;
    background: #fff;
    padding: 20px 40px 20px 30px;
    border-radius: 5px;
}

/* Form Styling*/

input {
	display: block;
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding-left: 10px;
    line-height: 40px;
    font-size: 15.5px;
    letter-spacing: -0.3px;
    color: #444;
    margin: 13px 0 10px 0;
}

input:focus {
	border: 1px solid #888;
    outline: #000;
    transition: border 0.5s ease-in-out;
}

.save, .search-details {
	display: inline-block;
    width: auto;
    padding: 0 20px;
    background: #286090;
    color: #fff;
    margin: 10px 0 0 20px;
}

.save:hover,.search-details:hover {
	background: #286090;
    color: #fff;
}

.all,.search-results,.response {
	border-top: 0.09px solid #ccc;
    padding: 9px 0 0 0;
    height: 100px;
    overflow: auto;
}

.all,.response {
    padding-left: 10px;
}

.all {
	height: calc(100% - 54px);
	padding: 9px 0 2px 10px;
    overflow: auto;	
}

.response {
	margin: 20px 0 0;
	height: 20px;
	font-family: monospace;
    color: #299a29;
}

.available {
	margin: 0 0 20px;
}

.search-results {
	padding-top: 30px;
    font-size: 16px;
    font-family: monospace;
    color: #299a29;
    letter-spacing: -1px;
}

